.navLeftFooter div.navFooterLine {
  font-size: 12px;
}
.navLeftFooter .navFooterCopyright {
  background-color: #131a22;
  max-width: 100%;
  margin: 0;
  padding: 10px 0 30px;
}

.navLeftFooter .navFooterPadItemLine {
  text-align: center;
  max-width: 1000px;
  margin: 30px auto 15px;
}

.navFooterLine {
  font-family: inherit;
  color: #ddd;
  font-size: 11px;
  text-align: center;
  line-height: 18px;
  white-space: nowrap;
}
